.containerHeader{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    background-color: #343090;
    color: #fff;
    height: 80px;
    width: 100%;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #343090;
    color: #fff;
    height: 150px;
    width: 80%;
    border-radius: 0 0 8px 8px;
}
.header form{
    display: flex;
    align-items: center;
    justify-content: center;
}
.header input{
    width: 90%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    outline: none;
}
.header button{
    padding: 10px;
    border-radius: 10px;
    border: none;
    position: relative;
    right: 15px;
    width: 8%;
}